body {
	background-color: #eeeeee;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 400;
}

#header-wrapper {
	background-color: #333333;
	color: #f8f8f8;
}

.container {
	display: block;
	width: 80%;
	min-width: 400px;
	max-width: 960px;
}

header {
	overflow: hidden;
}

header h1 {
	color: #f8f8f8;
	
	font-size: 6em;
	line-height: 1;
	font-weight: 100;
	text-align: center;
	
	display: block;
	margin: 0;
	margin-top: .5em;
	padding: 0;
}

header h2 {
	color: #aaaaaa;
	
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
	font-style: italic;
	
	display: block;
	margin: 0;
	margin-bottom: 2em;
}


.ballboy-player-form {
	font-size: 1rem;
	
	display: block;
	margin: 2em auto;
	padding: 0;
	width: 960px;
}

.ballboy-player-form fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	text-align: center;
	
	padding: 2em;
}

.ballboy-player-form input {
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #ffffff;
	color: #555555;
	
	outline: none;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	
	display: inline-block;
	margin-right: 1em;
	padding: .15em .5em;
	height: 1.6em;
	width: 300px;
	vertical-align: middle;
}

.ballboy-player-form button {
	border-radius: 5px;
	border: none;
	background-color: #ea4c89;
	color: #ffffff;
	
	cursor: pointer;
	outline: none;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 2em;
	width: 200px;
	vertical-align: middle;
	overflow: hidden;
	
	position: relative;
}

.ballboy-player-form button:before {
	background-color: rgba(0, 0, 0, 0.2);
	
	content: "";
	
	display: block;
	height: 100%;
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.ballboy-player-form button:hover:before {
	-webkit-transform: translateX(-95%);
	-moz-transform: translateX(-95%);
	-ms-transform: translateX(-95%);
	-o-transform: translateX(-95%);
	transform: translateX(-95%);
}

.ballboy-player-form button.working:before {
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	-o-transform: translateX(-25%);
	transform: translateX(-25%);
	
	-webkit-transition: -webkit-transform 1.5s linear;
	-moz-transition: -moz-transform 1.5s linear;
	-ms-transition: -ms-transform 1.5s linear;
	-o-transition: -o-transform 1.5s linear;
	transition: transform 1.5s linear;
}

.ballboy-player-form button.finished:before {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.ballboy-container {
	padding: 0 2em;
}
