body {
	background-color: #eeeeee;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 400;
}

#header-wrapper {
	background-color: #333333;
	color: #f8f8f8;
}

.container {
	display: block;
	width: 80%;
	min-width: 400px;
	max-width: 960px;
}

header {
	overflow: hidden;
}

header h1 {
	color: #f8f8f8;
	
	font-size: 6em;
	line-height: 1.2;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	
	display: block;
	margin: 0;
	margin-top: .5em;
	padding: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:hover
{
	color: inherit;
	
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

header h2 {
	color: #aaaaaa;
	
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
	font-style: italic;
	
	display: block;
	margin: 0;
}

header .download-link,
header .download-link:visited
{
	background-color: #00b6e3;
	border-radius: 5px;
	color: #f8f8f8;
	
	font-size: 1.5em;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	
	display: block;
	margin: 2em auto;
	padding: .25em 0;
	width: 250px;
	
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

header .download-link:hover {
	background-color: #0989AA;
}



.dialog-container {
	background-color: rgba(248, 248, 248, 0.8);
	
	display: none;
	margin: 0;
	padding: 0;
	height: 3000px;
	height: 100vh;
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.dialog {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	color: #555555;
	
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 2em;
	height: 200px;
	width: 550px;
	
	position: fixed;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -275px;
}

.dialog h2 {
	font-size: 1.5em;
}

.dialog p {
	color: #999999;
}



.ballboy-player-form {
	font-size: 1rem;
	
	display: block;
	margin: 2em auto;
	padding: 0;
	width: 960px;
}

.ballboy-player-form fieldset {
	border: none;
	
	text-align: center;
	
	padding: 2em;
}

.ballboy-player-form input {
	border: 1px solid #cccccc;
	border-right: none;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #f8f8f8;
	color: #555555;
	
	outline: none;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	line-height: 3rem;
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: .15em .5em;
	height: 3rem;
	width: 300px;
	vertical-align: middle;
}

.ballboy-player-form button {
	border-radius: 5px;
<<<<<<< HEAD
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid #cccccc;
	border-left: none;
	background-color: #ea4c89;
	color: #f8f8f8;
=======
	border: none;
	background-color: #ea4c89;
	color: #ffffff;
>>>>>>> a9cf3e44fe5c3c44a90c8108bcdf07e9173f5edd
	
	cursor: pointer;
	outline: none;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 2em;
	width: 200px;
	vertical-align: middle;
	overflow: hidden;
	
	position: relative;
}

.ballboy-player-form button:before {
	background-color: rgba(0, 0, 0, 0.2);
	
	content: "";
	
	display: block;
	height: 100%;
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.ballboy-player-form button:hover:before {
	-webkit-transform: translateX(-95%);
	-moz-transform: translateX(-95%);
	-ms-transform: translateX(-95%);
	-o-transform: translateX(-95%);
	transform: translateX(-95%);
}

.ballboy-player-form button.working:before {
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	-o-transform: translateX(-25%);
	transform: translateX(-25%);
	
	-webkit-transition: -webkit-transform 1.5s linear;
	-moz-transition: -moz-transform 1.5s linear;
	-ms-transition: -ms-transform 1.5s linear;
	-o-transition: -o-transform 1.5s linear;
	transition: transform 1.5s linear;
}

.ballboy-player-form button.finished:before {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.ballboy-player-form button.hide:before {
	opacity: 0;
	
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

.ballboy-container {
	padding: 0 2em;
}
